.nearbyfilter{
   background-image:linear-gradient(to bottom, rgba(7,41,53,0.5) 3%, rgba(10,74,91,0.5) 37%, rgba(9,122,138,0.5) 66%, rgba(15,184,168,0.6) 89%, rgba(14,226,213,0.65) 100%)
   ,url('../../Images/mandala.jpg');
   background-size: cover;
   /* background-color: black; */
}
.font-setting{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 7.5vh;
 }
 thead{
    background-color: rgb(6, 179, 179);
    text-transform: uppercase;
    color: aliceblue;
    font-size: 1.2rem;
 }
 tbody{
    font-size: 1rem;
 }
.organizingHome{
    height: 60vh;
}

.adveventHeading{
    font-size: 60px;
}
.homeBlock{
    margin-top: 20vh;
}
.nearbyfooter{
    background-color: rgba(14,226,213,1);
    height: 20vh;
    margin-top: 30px;
}

.advisoryBox{
    margin-left: 10vw;
}
.advisoryHeading{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 30px;
}

.advList{
    font-size: 20px;
    margin-left: 30px;
    list-style-type: disc !important;
}

.advitem{
    margin-left: 10px;
    list-style-type: disc !important;
}
@media only screen and (max-width: 650px) {
    .font-setting{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        font-size: 6vh;
     }
    .adveventHeading{
        font-size: 40px;
    }
    .advisoryHeading{
        font-size: 25px;
    }
    .advList{
        font-size: 15px;
        font-weight: 500;
        margin-left: 0;
        margin-right: 10vw;
    }
}

body::-webkit-scrollbar {
    display: none;
    width: 0;
  }
