.logo-size-nit{
    height: 7.5vh;   
}
.brand-margin{
    margin-left:2%;
    margin-top: 2px;
}

.organizingLink{
    color: black !important;
}
@media only screen and (max-width: 650px) {
    .logo-size-nit{
        height: 6vh;   
    }
}