.logo-size-nit{
    vertical-align: middle;
    max-height: 72px!important;
    padding: 10px 0!important; 
}
.brand-margin{
    margin-left:2%;
}

.organizingLink{
    color: black !important;
}
/* @media only screen and (max-width: 650px) {
    .logo-size-nit{
        height: 6vh;   
    }
}
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .logo-size-nit{
        height: 4vh;   
    }
}
@media only screen 
  and (min-width: 834px) 
  and (max-height: 1112px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .logo-size-nit{
        height: 5vh;   
    }
} */

