.add{
    background-image:linear-gradient(to bottom, rgba(108,57,15,0.75) 3%, rgba(148,88,24,0.75) 28%, rgba(120,70,9,0.75) 46%, rgba(224,182,25,0.75) 79%, rgba(190,181,4,0.75) 100%),
    url('../Images/contactus.jpg');
    background-size: contain;
 }
 
.font-setting{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 8vh;
}
.container-1{
    margin-top: 10vh;
    padding: 3vh;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 10vh;
}
h4{
    margin-bottom: 32px;
    margin-top: 32px;
    font-weight: bold;
}
.name{
    margin-bottom: 16px;
    font-weight: bold;
    font-size: x-large;
}
.phone{
    margin-bottom: 16px;
    font-style: italic;
    font-size: medium;
}
.desig{
    margin-bottom: 16px;
    font-weight: bold;
    font-size: large;
}